h1 {
    color: lightpink;
    text-shadow: 0 0 3px purple, 0 0 5px black;
}

.employee-card {
    margin: 10px;
    width: 30%;
  }

.jumbotron {
    background-color: lightblue;
}

.card-header {
    background-color: lightpink;
    color: lightblue;
    text-shadow: 0 0 3px purple, 0 0 5px black;
    
}
